language: perl

perl:
  - "5.18"
  - "5.16"
  - "5.14"
  - "5.12"
  - "5.10"
  - "5.8"

branches:
  only:
    - master
    - /^smoke-me\//

env:
  global:
    - secure: "ifpEgDJHOAqxMiDUzw6iN4jP1PwE0/+V3jlcys+QTEJ8daGY3Pj+G0lsvPGhgaVhxxlwLthlK38BsW4b8amNyVqYNThUyzOmPGLNUufnq8b0BNVgoyqoodo1uz8TdPDLJ1MBdG0xEc4HlIeEua0PCVdPyNSEqpefuDmmQR4E2Ks="

install:
  - "cpanm -nq -l local --installdeps --with-develop --with-recommends --with-suggests ."
  - "perl Makefile.PL"
  - "make"

script:
  - "prove -Ilocal/lib/perl5 -It/lib -lvr t"

after_success:
  - "PERL5LIB=$PWD/local/lib/perl5:./lib PATH=$PWD/local/bin:$PATH perl build.pl"
  - "sh push_build.sh"
